.center {
    margin:auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    height: 40%;
    width: 40%;
    position: absolute;
    color: lightgoldenrodyellow;    
    font-size: 2vw;
    font-family: Helvetica Neue, Helvetica, sans-serif;
}
.desc1 {
    color:#4BBEEA;
    font-size: 1.5vw;
    font-weight: 200;
}
.desc2 {
    color:#E599A8;
    font-size: 1.5vw;
    font-weight: 200;
}
.desc3 {
    color:#dedede;
    font-size: 1.5vw;
    font-weight: 200;
}
body {
    font-family: Helvetica Neue, Helvetica, sans-serif;
    background: linear-gradient(-45deg, #000000, #939393, #800080);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 98%;
}
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
footer {
  position:absolute;
  bottom: 0;
  margin: 2%;
}
a {
  text-decoration: none;
  text-underline-position: unset;
  color:inherit;
}
h1 {
  color: whitesmoke;
}
.brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}
.brand_item {
  width: 75px;
  height: 75px;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 0 20px;
}
.brand_img {
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
  width:50%;
  height:50%;
}
.brand_item:hover {
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.4), 0 0 0 10px #f05f75;
}